body {
  background-color: lightcyan; }
  body .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    body .flex-container #page-heading {
      padding-bottom: 20px; }
